<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Movies.Properties.Settings.ulatinaConnectionString1"
            connectionString="Data Source=asolisulatina.database.windows.net;Initial Catalog=ulatina;Persist Security Info=True;User ID=asc;Password=YrRtjjBhr2MBF8ewoinC;Encrypt=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>